
#heading{
    text-align: center;
    margin-top: 150px;
}

#logInBigDiv{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border: 1px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fields{
    margin-top: 20px;
    width: 500px;
}


#logInBox{
    padding-left: 200px;
    padding-right: 200px;
}

