#heading{
    text-align: center;
}

#navLogInButton{

    border-color: #0274f7;
    border-radius: 7%;
    background-color: #0274f7;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    float: right;
    margin-left: 1px;

}

#topHeader{
    margin-top: 10px;
}

#navRegisterButton{

    border-color: #0274f7;
    border-radius: 7%;
    background-color: white;
    color: #0274f7;
    padding-left: 30px;
    padding-right: 30px;
    float: right;

}

.headerItems{
    color: #0274f7;
    font-size: 20px;
}

#bigDiv{
    padding-left: 100px;
    padding-right: 100px;
}

#reservations{

    border-color: #0274f7;
    border-radius: 7%;
    background-color: #0274f7;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    float: right;
    margin-left: 1px;

}

#wishList{

    border-color: #0274f7;
    border-radius: 7%;
    background-color: white;
    color: #0274f7;
    padding-left: 30px;
    padding-right: 30px;
    float: right;

}

#divider{
    background-color: lightblue;
}

#bookList{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.bookItem{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.bookItemText{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#genreOne{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.genreType{
    background-color: rgb(226, 226, 226);
    width: 100%;
    padding-left: 10px;
    margin-top: 100px;

}

.genreTypeTitle{
    font-size: 45px;
    font-style: italic;
}

#genrePic{
    flex-basis: 0;
}

#footerTitle{
    font-weight: bold;
    font-size: 50px;
}

#footerItem{
    font-weight: bold;
    font-size: large;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerTrademark{
    float: right;
}